.footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #ffffff;
    height: 60px;
    margin-top: 4px;
}

.footer button{
    background: transparent;
    border: none;
    color: grey;
}
