.header {
    font-size: 24px;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 24px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between; /* Pushes items to the edges */
    align-items: center;
}

.profileHeader{
    background-color: orange;
    border: none;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    color: #ffffff;
}



