.playerAlignment {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.player {
        width: 100%;
        background: white;
        padding: 25px;
        overflow: hidden;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .songImage{
        height: 48px;
        width: 48px;
        border-radius: 12px;
        background-color: orange;
        margin-right: 8px;
    }

    .songInfo h2 {
        margin: 0;
        font-size: 19px;
    }

    .songInfo p {
        margin: 0;
        font-size: 14px;
        color: #666;
    }

    .progress {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        align-items: center;
        font-size: 14px;
    }

    .bar {
        height: 7px;
        background: #ddd;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        margin: 0 10px;
    }

    .bar-fill {
        height: 100%;
        width: 0%;
        background: orange;
    }

    .controls {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .songMain {
        display: flex;
        align-items: center;
    }

    .play_btn {
        background: none;
        border: none;
        cursor: pointer;
    }

    .toggle_btn {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 26px;
    }

    .play {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: radial-gradient(circle,rgba(50, 34, 195, 1) 0%, rgba(142, 45, 253, 1) 100%);
        color: white;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }

    .play_btn{
        color: #000000 !important;
    }