:root {
    --bg-color: #f7f7f7;
    --text-header: #000000;
    --text-main: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    display: flex;
    height: 100vh;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}


